/* STYLESHEET */
p {
    margin: 30px;
}

h2 {
    margin: 30px;
}

h3 {
    margin: 30px;
}

.row {
    padding-left: 30px;
    padding-right: 30px;
}

/* Viz 0: water calculator */
.btn {
    margin-left: 30px;
}

/* Viz 1: choropleth */


/* Viz 2: linked viz */

/* Viz 3: symbol map */

/* Viz 4: tree */
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
